%h3
  - if @publisher
    = @publisher.name 
    issues
    %a{href: new_publisher_issue_path(@publisher), class:'btn btn-mini btn-success', style: 'margin-left:15px'} Create new
  - else 
    Issues List
    %a{href: new_issue_path, class:'btn btn-mini btn-success', style: 'margin-left:15px'} Create new


%div{class:'list-table'}
  %table{class:'table table-bordered'}
    %th Title
    %th Publisher
    %th Frequecy
    %th Archive / Actual
    %th Actions
    - @issues.each do |issue|
      %tr
        %td
          = link_to issue.title, issue_path(issue) 
        %td= issue.publisher.name
        %td= issue.issue_frequency.name
        %td= issue_archive? issue
        %td
          = link_to 'Edit', edit_issue_path(issue), class: 'btn btn-mini btn-primary'
          = link_to 'Delete', issue, :method => :delete, data: { confirm: "Are you sure?" },class: 'btn btn-mini btn-danger'
