%p#notice= notice

%p
  %b Title:
  = @issue.title
%p
  %b Issue frequency:
  = @issue.issue_frequency
%p
  %b Archive:
  = @issue.archive

= link_to 'Edit', edit_issue_path(@issue)
\|
= link_to 'Back', issues_path
