
%fieldset
  = f.label :offer
  = error_for_field(f.object, :offer)
  = f.collection_select(:offer_id,Offer.order(:id),:id, :name)

  = f.label :start_date, 'Start date (example: 2012-01-01)'
  = error_for_field(f.object, :start_date)
  = f.text_field :start_date

  = f.label :end_date, 'End date (example: 2012-01-01)'
  = error_for_field(f.object, :end_date)
  = f.text_field :end_date

  = f.label :price
  = error_for_field(f.object, :price)
  = f.text_field :price
%hr
%h3
  Additional Titles

%div{class: 'checkbox_container'}
  = f.fields_for :additional_titles do |ff|
    %div{class: 'outside_checker'}
      = ff.check_box :_destroy, {checked: ff.object.persisted? || ff.object.quantity != 0},'0','1'
      = ff.hidden_field :title_id
      = ff.text_field :quantity, style:'width:25px'
      = ff.label :quantity , ff.object.title.title



.actions
  = f.submit 'Save', class: 'btn btn-large btn-success', style: 'margin-top:10px;'
