%address
  %strong 
    = publisher_address.company_name
  %br
  = publisher_address.street
  = publisher_address.street_no
  %br
  = publisher_address.postal_code
  %br
  = publisher_address.city
  %br
  NIP :
  = publisher_address.nip