%fieldset
  = f.label :name
  = f.text_field :name, id: 'contact_name'
  = f.label :email
  = f.text_field :email, id: 'contact_email'
  = f.label :phone
  = f.text_field :phone, id: 'contact_phone'
  = f.hidden_field :_destroy
  = link_to "remove","#", class: "remove_fields"