.row{style:'margin-top:20px;'}
  = form_for @publisher do |f|
    .span4
      %p Invoice address
      %hr
      .field
        = f.fields_for :addresses do |builder|
          = render 'addresses/invoice_address_fields', f: builder
    .span4
      %p Forwarding address
      %hr
      .field
        = f.fields_for :addresses do |builder|
          = render 'addresses/correspond_address_fields', f: builder
      %button{id: 'copy_address', class:'btn btn-small btn-warning'} same like invoice
    .span3
      %p Contact person
      %hr
      .field
        = f.fields_for :contacts do |builder|
          = render 'contact_fields', f: builder
        = link_to_add_fields 'add next contact', f, :contacts
    %div{style:"clear:both"}
      = f.submit 'Save', class: 'btn btn-large btn-success', style: 'margin-left:20px;margin-top:10px;'

