%fieldset
  -if f.object.address_type == 'invoice'
    = f.label :company_name
    = error_for_field(f.object, :company_name) 
    = f.text_field :company_name, id:'company_full_name'
    = f.label :street
    = error_for_field(f.object, :street) 
    = f.text_field :street, id:'invoice_street'
    = f.label :street_no
    = error_for_field(f.object, :street_no) 
    = f.text_field :street_no, id:'invoice_street_no'
    = f.label :postal_code
    = error_for_field(f.object, :postal_code) 
    = f.text_field :postal_code,id:'invoice_postal_code'
    = f.label :city
    = error_for_field(f.object, :city) 
    = f.text_field :city,id:'invoice_city'
    = f.label :nip
    = error_for_field(f.object, :nip) 
    = f.text_field :nip, id:'invoice_nip'
    = f.hidden_field :address_type