= f.fields_for :addresses do |builder|
  -if builder.object.address_type == 'invoice'
    = builder.label :company_name
    = builder.text_field :company_name, id:'company_full_name'
    = builder.label :street
    = builder.text_field :street, id:'invoice_street'
    = builder.label :street_no
    = builder.text_field :street_no, id:'invoice_street_no'
    = builder.label :postal_code
    = builder.text_field :postal_code,id:'invoice_postal_code'
    = builder.label :city
    = builder.text_field :city,id:'invoice_city'
    = builder.label :nip
    = builder.text_field :nip, id:'invoice_nip'
    = builder.hidden_field :address_type