.row{style:'margin-left:20px;'}
  .span8
    %h3 
      = @title.title
    %hr
    %p
      %b Publisher:
      = @title.publisher.name
    %p
      %b Frequency:
      = @title.title_frequency.name
    %p
      %b Archive / Actual:
      = title_archive? @title
    %br

= link_to 'Back to list', :back