%div{style:'margin-top:20px;'}
  = form_for @offer do |f|
    %fieldset
      = f.label :name
      = error_for_field(f.object, :name)
      = f.text_field :name

      = f.label :description
      = error_for_field(f.object, :description)
      = f.text_area(:description, rows: 5, cols: 25)

      = f.label :price
      = error_for_field(f.object, :price)
      = f.text_field :price
    %p
      Titles
      %hr
    %div{class: 'checkbox_container'}
      = f.collection_check_boxes :issues, Issue.order('title ASC'), :id, :title do |builder|
        - content_tag(:div, :class => "outside_checker") { builder.check_box + builder.label }


    .actions
      = f.submit 'Save', class: 'btn btn-large btn-success', style: 'margin-top:10px;'
