%div{style:'margin-top:20px;'}
  = form_for @offer do |f|
    %fieldset
      = f.label :name
      = error_for_field(f.object, :name)
      = f.text_field :name, id: 'offer_name'

      = f.label :description
      = error_for_field(f.object, :description)
      = f.text_area(:description, rows: 5, cols: 25, id: 'offer_description')

      = f.label :price
      = error_for_field(f.object, :price)
      = f.text_field :price, id: 'offer_price'
    %hr
    %h3
      Titles
      %button{id: 'check_all', class:'btn btn-mini btn-warning'} check all

    %div{class: 'checkbox_container'}
      - Title.order('title ASC').each do |t|
        %div{class: 'outside_checker'}
          = check_box_tag 'offer[title_ids]', t.id, @offer.titles.include?(t), name: 'offer[title_ids][]'
          = label_tag :title_ids, t.title


    .actions
      = f.submit 'Save', class: 'btn btn-large btn-success', style: 'margin-top:10px;'
