%p#notice= notice
=@o.inspect
=@z.inspect
%p
  %b Name:
  = @offer.name
%p
  %b Description:
  = @offer.description
%p
  %b Price:
  = @offer.price

%h2
  Tytuły dostarczane regularnie:
- @z.each  do |rodzaj, ot|
  %h4=rodzaj
  - count = 1
  - ot['titles'].each do |title|
    %p
      ="#{count}. "
      = title.title.title
      %span{style: 'margin-left:50px;'}
        = title.quantity
      - count = count + 1
    %br

= link_to 'Edit', edit_offer_path(@offer)
\|
= link_to 'Back', offers_path
