%h2
  Tytuły dostarczane regularnie:
- @titles.each  do |frequency, ot|
  %h4=frequency
  - count = 1
  - ot.each do |title|
    %p
      ="#{count}. "
      = title.title.title
      %span{style: 'margin-left:50px;'}
        = title.quantity
      - count = count + 1
    %br

= link_to 'Edit', edit_offer_path(@offer)
\|
= link_to 'Back', offers_path
