%div{style:'margin-top:20px;'}
  = form_for @sell_point do |f|
    .field{style: 'margin-bottom: 15px;'}
      = f.label :chained, 'Single', value: false, style: 'display:inline'
      = f.radio_button(:chained, false, checked: !f.object.chain)
      = f.label :chained, 'Chain', value: true, style: 'display:inline'
      = f.radio_button(:chained, true, checked: (f.object.chain != nil))
    .field
      = f.label :name
      = f.text_field :name, id: 'name'
      = error_for_field(f.object, :name)
    .field
      = f.label :chain
      = f.collection_select(:chain_id, Chain.order(:name), :id, :name, :include_blank => :true)

    .row{style: 'margin-top:20px; margin-left:6px;'}
      .span4
        %p Invoice address
        %hr
        .field
        = f.fields_for :addresses do |builder|
          = render 'addresses/invoice_address_fields', f: builder
      .span4
        %p Forwarding address
        %hr
        .field
          = f.fields_for :addresses do |builder|
            = render 'addresses/correspond_address_fields', f: builder
        %button{id: 'copy_address', class:'btn btn-small btn-warning'} same like invoice
      .span3
        %p Delivery address
        %hr
        .field
          = f.fields_for :addresses do |builder|
            = render 'addresses/delivery_address_fields', f: builder
    .row{style: 'margin-top:20px; margin-left:6px;'}
      .span12
        %p Contact person
        %hr
        .field
          = f.fields_for :contacts do |builder|
            = render 'contact_fields', f: builder
          = link_to_add_fields 'add next contact', f, :contacts
    %div{style:"clear:both"}
      = f.submit 'Save', class: 'btn btn-large btn-success', style: 'margin-top:10px;'
