%h1 Listing sell_points

%table
  %tr
    %th Name
    %th Chain
    %th
    %th
    %th

  - @sell_points.each do |sell_point|
    %tr
      %td= sell_point.name
      %td= sell_point.chain
      %td= link_to 'Show', sell_point
      %td= link_to 'Edit', edit_sell_point_path(sell_point)
      %td= link_to 'Destroy', sell_point, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sell point', new_sell_point_path
